@media only screen and (max-width: 600px) {
  .navText {
    font-size: 10px;
    display: none;
  }
  .small {
    flex-wrap: wrap;
  }
  .allign {
    margin-left: -70px;
  }
  .aligntop {
    margin-top: -40px;
  }
  .moveLeft {
    margin-left: -15px;
  }
  .menu {
    width: 370px;
    height: 100vh;
    position: fixed;
    top: 50px;
    right: -370px;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all .5s ease;
    overflow-y: auto;
  }
  .menu.active {
    right: 0;
  }
  .app {
    margin-left: 0 !important;
  }
  .search {
    display: none;
  }
  body {
    margin-left: 0;
    background-color: #feffff;
  }
}

body {
  background-color: #feffff;
}

.app {
  margin-left: 0;
  background-color: #feffff;
}
